<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataRepository.Properties.Settings.PCSConnectionString"
            connectionString="Data Source=(local);Initial Catalog=PCS;Persist Security Info=True;User ID=sa;Password=*intel$ADMIN*"
            providerName="System.Data.SqlClient" />
        <add name="DataRepository.Properties.Settings.PCSConnectionString1"
            connectionString="Data Source=PC;Initial Catalog=PCS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataRepository.Properties.Settings.PCSConnectionString2"
            connectionString="Data Source=PC;Initial Catalog=PCS;Persist Security Info=True;User ID=sa;Password=*intel$ADMIN*"
            providerName="System.Data.SqlClient" />
        <add name="DataRepository.Properties.Settings.PCSConnectionString3"
            connectionString="Data Source=COMP;Initial Catalog=PCS;Persist Security Info=True;User ID=sa;Pooling=False;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="DataRepository.Properties.Settings.PCSConnectionString4"
            connectionString="Data Source=PC;Initial Catalog=PCS;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>