@using PCSMvc.Models
@{
    ViewBag.Title = "PCSManager";
    Layout = "~/Views/Shared/_PCSManagerLayout.cshtml";
}
<div id="column-right">
    <div data-role="content">
        <div class="intelli-content">
            <div class="intelli-main-content-header ui-bar ui-bar-a">
                <a href="javascript:;" class="icoMenu" id="togglepanel"><span>Menu</span></a>
                <h3>
                    Districts</h3>
            </div>
            <div class="intelli-main-content ui-body ui-body-a">
                <p>
                    <div id="grid">
                    </div>
                </p>
                <p>
                    <a href="@Url.Action("OrganizationUpdate")" id="addNew" class="intelli-btn-white">Add
                        New</a>
                </p>
            </div>
        </div>
    </div>
    <!-- /content -->
</div>
@section pageJS{
    <script type="text/javascript">
        $(document).ready(function() {
            getCurrentData();
        });
        
        function getCurrentData() {
            $.get('@(Url.Action("OrganizationsGet"))', {}, function(result) {
                if (result.Result.Type == 0) {
                    createKendoGrid(result.Data);
                }
            }, 'json');
        }
        function createKendoGrid(results) {
            var kendoDataSource = new kendo.data.DataSource({
                data: results,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { type: "number" },
                            Title: { type: "string" },
                            FullName: { type: "string" },
                            Active: { type: "bool" }
                        }
                    }
                },
                pageSize: 20
                //                    serverPaging: true,
    //                    serverFiltering: true,
    //                    serverSorting: true
            });

            $("#grid").kendoGrid({
                dataSource: kendoDataSource,
                sortable: {
                    mode: "multiple",
                    allowUnsort: true
                },
                pageable: true,
                scrollable: false,
                columns: [
                    {
                        hidden: true,
                        field: "Id",
                        attributes: { 'id': 'idCol' }
                    },
                    {
                        title: "DISTRICT",
                        field: "Title",
                        sortable: true,
                        width: "40%",
                        //filterable: false,
                        template: "<a href='@(Url.Action("OrganizationUpdate"))/${Id}' title='Edit'>#:Title#</a>"
                    },
                    {
                        title: "CONTACT/ADMIN",
                        field: "FullName",
                        sortable: true
                    },
                    {
                        width: 20,
                        template: function(dataItem) {
                            return dataItem.Active
                                ? "<a onclick='recordRemove(" + dataItem.Id + ")' title='Delete' class='intelli-btn-delete'><span>Delete</span></a>"
                                : "";
                        }
                    }
                ]
            });
        }

        function recordRemove(id) {
            if (ConfirmBox("", "Remove Organization?")) {
                $.post("@(Url.Action("OrganizationRemove"))", {id: id}, function (data) {
                    if (data.Result.Type == 0) {
                        getCurrentData();
                    }
                }, 'json');
            }
        }
    </script>
}
