@{
    ViewBag.Title = "PCSManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="intelli intelli-manager">
    <div class="intelli-login">
        <img src="/images/logo-manager.png" width="229" height="120" alt="" style="margin: 15px 30px 20px 30px;" />
        <ul class="intelli-cusom-toolbar" style="margin: 20px 10px 30px 10px;">
            <li>
                <a href="@Url.Action("PCSManagerSpecialists")" title="">
                          <img src="/images/icoSpecialist.png" width="43" height="43" alt="" /><br />
                          <span>Specialists</span></a>
            </li>
            <li><a href="@(Url.Action("Organizations"))" title="">
                <img src="/images/icooffice.png" width="43" height="43" alt="" /><br />
                <span>Organizations</span></a></li>
            <li><a href="manager_search.html" title="">
                <img src="/images/icoStudents.png" width="43" height="43" alt="" /><br />
                <span>Students</span></a></li>
            <li><a href="@(Url.Action("PCSManagerReportTime"))" title="">
    <img src="/images/icoReport.png" width="43" height="43" alt="" /><br />
    <span>Reports</span>
</a></li>
        </ul>
        <div style="text-align:right;">
        <a href="@(Url.Action("Logout"))" title="">Logout</a></div>
    </div>
    <div class="intelli-copy" style="width:200px; margin:15px auto;">
  	<span>Developed by</span>
    <a href="http://www.intellimedia.ca/" title="Visit Intellimedia inc."><img src="/images/logoIntellimedia.png" with="131" height="23" alt="" /></a>
            <br/><span class="small" style="opacity:0.5;"></span>
</div>
</div>