@using PCS.DataRepository.DataContracts
@{
    ViewBag.Title = "TypeUserSelects";
    Layout = "~/Views/Shared/_PCSManagerLayout.cshtml";

    Dictionary<int, List<UserShortInfoDistrict>> users = ViewBag.users as Dictionary<int, List<UserShortInfoDistrict>> ?? new Dictionary<int, List<UserShortInfoDistrict>>();
}
<div id="selects">
    @foreach (var select in users)
    {
        <select style="width: 100%;" data-role="none;" class="@(select.Key)">
            <option value="0">--Select a Specialist--</option>
            @foreach (var item in select.Value.Select(p => p.DistrictSchool).Distinct())
            {
                <text>
                    <optgroup label="@(item)">
                        @foreach (var user in select.Value.Where(p => p.DistrictSchool == item))
                        {
                            <text>
                                <option value="@(user.Id)">@(user.FirstName)</option>
                            </text>
                        }
                    </optgroup>
                </text>
            }
        </select>
    }
</div>
